.post{
    width: 100%;
    border: 2px solid black;
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
}

.read-more-btn{
    border: 3px solid #c6d21e;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.read-more-btn:hover{
    background-color: #c6d21e;
}